#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form {
    display: inline-block;
    margin: 1em auto;
    /* Se auto selecciona el mínimo de los valores: */
    max-width: min(60vw, 400px);
    min-width: 350px;
}
form label {
    display: block;
    font-weight: 500;
}
form input, form textarea {
    display: inline-block;
    width: 100%;
    /* Colocamos border-box para que no desborden 
    los elementos de sus parents */
    box-sizing: border-box;
}
form textarea {
    margin: 0;
}
form div {
    margin-bottom: 1em;
}
#submit-container {
    text-align: right;
}